.form {
  width: 430px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -16px;
  color: black;
}

.form__title {
  width: 80%;
  margin: 34px 0 22px;
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
}

.form__field {
  width: 80%;
  margin-bottom: 18px;
  border: none;
  border-bottom: rgba(0,0,0,.2) 1px solid;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 358px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  font-family: inter, Arial, Helvetica, sans-serif;
  z-index: 50;
}

.form__save-button {
  width: 360px;
  height: 64px;
  cursor: pointer;
  border: none;
  border-radius: 32px;
  background-color: rgba(47, 113, 229, 1);
  background-position: center;
  padding: 0;
  margin: 6px 0;

  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  font-family: roboto, Arial, Helvetica, sans-serif;
}

.form__input-title {
  color: rgba(47, 113, 229, 1);
  font-family: inter, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  width: 80%;
  text-align: left;
}

.form__link {
  color: rgba(47, 113, 229, 1);
  text-decoration: none;
  font-size: 14px;
  font-family: roboto, Arial, Helvetica, sans-serif;
}

.form__link:hover {
  cursor: pointer;
}

.form__error {
  color: red;
  position: relative;
  top: -15px;
  margin: 0 auto;
  visibility: visible;
}

.form__link_tooltip {
  color: rgba(47, 113, 229, 1);
  font-family: inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  width: 80%;
  text-align: left;
}

.form__error_save {
  margin: 0 auto;
  color: red;
  text-align: center;
  position: relative;
  visibility: visible;
  pointer-events: none;
}

.form__save-button_disabled {
  color: rgba(182, 188, 191, 1);
  background-color: rgba(230, 232, 235, 1);
  cursor: not-allowed;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 770px) {
  .form {
    width: 430px;
  }

  .form__title {
    margin: 25px auto 22px;
    text-align: left;
    font-size: 18px;
  }

  .form__field {
    width: 80%;
  }

  .form__save-button {
    width: 200px;
    height: 46px;
    font-size: 14px;
  }
}

@media screen and (max-width: 520px) {
  .form {
    width: 100vw;
    height: 90vh;
  }
}
