.newsCardList {
  min-height: 50px;
  color: black;
  background-color: rgba(245, 246, 247, 1);
  padding: 5%;
}

.newsCardList__container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 16px;
  margin: 0 auto;
}

@media screen and (max-width: 1050px) {
  .newsCardList__container {
    gap: 8px;
  }
}

@media screen and (max-width: 750px) {
  .newsCardList__container {
    grid-template-columns: repeat(1, auto);
    max-width: 282px;
    gap: 10px;
  }
}


.newsCardList__title {
  display: block;
  font-family: roboto-slab, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  margin: 0;
  margin-bottom: 32px;
}

.newsCardList__loadButton {
  border: none;
  border-radius: 32px;
  width: 288px;
  height: 64px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: 64px auto auto;
  cursor: pointer;
}
