.newsCardList {
  min-height: 50px;
  color: black;
  background-color: rgba(245, 246, 247, 1);
  padding: 5%;
}

.newsCardList__title {
  display: block;
  font-family: roboto-slab;
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  margin: 0;
  margin-bottom: 32px;
}
