.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about__image {
  border-radius: 50%;
  background-image: url(../../images/kethianne.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 464px;
  height: 464px;
  margin: 80px 56px 80px 105px;
}

.about__article {
  max-width: 600px;
  margin-top: 130px;
}

.about__article-title {
  font-family: roboto-slab, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
}

.about__article-para {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 1228px) {
  .about__article {
    margin: 40px auto;
    max-width: 424px;
  }

  .about__image {
    margin: auto 35px;
  }

  .about__article-title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .about__image {
    width: 232px;
    height: 232px;
  }
}

@media screen and (max-width: 725px) {
  .about__image {
    width: 272px;
    height: 272px;
    margin: 32px 24px;
  }

  .about__article {
    margin: 0 auto 130px;
    max-width: 424px;
  }
}

@media screen and (max-width: 500px) {
  .about__article {
    max-width: 80%;
  }
}
