.nav {
  display: flex;
  flex-direction: row;
  font-family: roboto;
}

.nav__link {
  text-decoration: none;
  color: white;
  margin: auto 50px;
}

.nav__button {
  background-color: transparent;
  border: white solid 1px;
  border-radius: 20px;
  width: 175px;
  height: 50px;
  margin: auto 0;
  color: white;
}
