.nav {
  display: flex;
  flex-direction: row;
  font-family: roboto, Arial, Helvetica, sans-serif;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: white;
  margin: 0 50px;
  line-height: 67px;
}

.nav__link-underline {
  border-bottom: 3px solid white;
}

.nav__link-underline_dark {
  border-bottom: 3px solid black;
}

.nav__link_inactive {
  color: rgba(182, 188, 191, 1);
}

.nav__button {
  background-color: transparent;
  border: white solid 1px;
  border-radius: 20px;
  width: 175px;
  height: 40px;
  margin: 0;
  color: white;
}

.nav__logout-img {
  max-width: 24px;
  max-height: 24px;
  margin-left: 20px;
}

.nav__button_logout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 0 10px 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav__button_logout_black {
  border: black solid 1px;
}
