.form__error {
  color: red;
  position: relative;
  top: -15px;
  margin: 0 auto;
  z-index: 3;
  visibility: visible;
}

.form__error_save {
  margin: 0 auto;
  color: red;
  text-align: center;
  position: relative;
  visibility: visible;
}
